body {

    color: black;
    font-family: Verdana;
  }

  .jumbotron {
    background-image: url('../images/bacteriacells4.jpg');
    background-size: 100% 100%;
    opacity: 0.9;
    text-align: center;
    color: white;
  } 

  .well {
background-color: aliceblue;
font-family: Verdana;
font-weight: 90;
font-size: smaller;
 }

  .panel {
    background-color: aliceblue;
    font-family: Verdana;
    font-weight: 90;
    
      }

#info {
  font-family: Verdana;
  font-weight: 90;
  font-size: medium;
  background-color: whitesmoke;
}

#def {
  font-family: Verdana;
  font-weight: 90;
  font-size: medium;
  background-color: whitesmoke; 
}

#inside {
  font-family: Verdana;
  font-weight: 90;
  font-size: medium;
  background-color: whitesmoke;
  }
